@import '~bootstrap/scss/functions';
@import './helpers/variables';
@import '~bootstrap/scss/bootstrap';

body,html{
  background-color: $light;
}

.preFade{
  transition: .3s ease;
  opacity: 0;
}

.fadeIn{
  opacity: 1 !important;
}

.lh-fix{
  line-height: 30px;
}

.loadingAnimation{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  width: 100%;
}

.computerleftSide{
  position: fixed;
  top: 0; bottom: 0;
  height: 100vh;
  width: 20%;
  background-color: #2A7F62;
  transition: .3s ease;
}

.leftSide{
  position: fixed;
  top: 0; bottom: 0; left: -50%;
  height: 100vh;
  width: 50%;
  background-color: #2A7F62;
  transition: .3s ease;
  z-index: 9999;
}

.leftSideMove{
  left: 0;
}

.leftSideBtn{
  position: absolute;
  width: 30px;
  height: 60px;
  border-radius: 0 0 10px 0;
  background-color: $success;
  top: 0; left: 98%;
}

.computerrightSide{
  position: absolute;
  width: 80%;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 50px;
}

.rightSide{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px 0;
  transition: .3s ease;
}

.rightSideMove{
  left: 50%;
}

@media(max-width : 1025px){
  .computerleftSide{
    display: none !important;
  }
  .computerrightSide{
    display: none;
  }
}

@media(min-width : 1025px){
  .leftSide{
    display: none !important;
  }
  .rightSide{
    display: none;
  }
}

.card{
  border: none !important;
  cursor: pointer;
  transition: .3s ease;
}

.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
}

.card-header{
  border-radius: 10px 10px 0 0 !important;
}

.card-body{
  border-radius: 0 0  10px 10px !important;
}

.pageActive{
  color: white !important;
}

.pageDisabled{
  pointer-events: none !important;
  opacity: 0.65 !important;
}